<% layout('layouts/boilerplate')%>
<h1>Welcome to Timeline</h1>
<p>Timeline is a convenient personal tracker that can be used to store photos, journal entries, and other media types on an easy to use chronological timeline. Use it as a scrapbook, journal, notepad, or any way you see fit! Please create an account to get started! </p>

<div class="row g-0">
    <div class="col-md-6"> 
        <form action="/signup" method="GET"><button  class="btn btn-primary btn-lg">Sign Up</button></form>
    </div>

    <div class="col-md-6"> 
        <form action="/login" method="GET"><button class="btn btn-success btn-lg">Log In</button></form>
    </div>

    
</div>


